<h1>this week 2 assigment in ibm capstone </h1>

<h2> this is part 1 </h2>
<h2> this part is for getting the date and shape it well </h2>

In [1]:
import pandas as pd 
import requests
import numpy as np

In [10]:
#getting the date and makeing a dateframe


wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
result = requests.get(wiki)

df = pd.read_html(result.content, header=0)[0]

df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [13]:
# getting the data done 

def creating_good_data(df):
    df_new = df[df.Borough != 'Not assigned']
    df_new.Neighborhood.replace('Not assigned',df_new.Borough,inplace=True)
    df_new = df_new.groupby(['Postal Code', 'Borough'])['Neighborhood'].apply(lambda x: ', '.join(x))
    df_new = df_new.reset_index()
    df_new.rename(columns = {'Postal Code':'PostalCode'}, inplace = True)
    return df_new

In [14]:
df_complete = creating_good_data(df)
df_complete.head(8)

  PostalCode      Borough                                 Neighborhood
0        M1B  Scarborough                               Malvern, Rouge
1        M1C  Scarborough       Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough            Guildwood, Morningside, West Hill
3        M1G  Scarborough                                       Woburn
4        M1H  Scarborough                                    Cedarbrae
5        M1J  Scarborough                          Scarborough Village
6        M1K  Scarborough  Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough              Golden Mile, Clairlea, Oakridge